.escolha{
    width: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.alter{
    border: 5px;
    font-size: large;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-color: blueviolet;

}

 